.block--container{
    display: flex;
    padding: 40px;
    margin: 2em 0em 2em 0em;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
}

.options{
    display: flex;
    padding: 25px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--azul-claro);
}

.Title--serv{
    color: var(--azul-piscina);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Options--serv{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}



@media(max-width: 1110){
    .block--container{
        display: flex;
        flex-direction: column;
    }

    .right{
        display: none;
    }
}