.document-container-to-export {
  text-align: left;
  display: none;
}

.td-header-export-document {
  background-color: #d5dce4;
}

.p-text-export-document {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

#Tabela_01 td {
  border: 1px solid black;
  padding-left: .2em;
}
