.container--system{
    display: flex;
    padding: 40px 80px 48px 80px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: var(--azul-claro);
}

.right{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.start{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    color: var(--azul-piscina);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.subtitle{
    color: #000;
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.solutions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfect{
    color: var(--azul-piscina);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media screen and (max-width: 1000px) {
    .container--system {
        flex-direction: column;
        padding: 2em;
        margin: 0;
    }
   
    .doc {
        height: 400px;
    }
}
