.title--page{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    background: linear-gradient(86deg, #FFF 30.08%, rgba(255, 255, 255, 0.80) 47.11%, rgba(255, 255, 255, 0.60) 69.54%, rgba(255, 255, 255, 0.45) 83.97%, rgba(255, 255, 255, 0.24) 99.69%, rgba(255, 255, 255, 0.00) 100%), #106B87;
}

p{
    color: black;
}

strong{
    color: var(--color4, #157A8C);
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Title{
    color: #000;
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.Sub{
    color: #333;
    text-align: justify;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

strong{
    color: var(--azul-piscina);
}