.block--container{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
}

.options{
    display: flex;
    padding: 25px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--azul-claro);
}

.Title--serv{
    color: var(--azul-piscina);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.Options--serv{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

@media (max-width: 1110px){
    .block--container {
        gap: 0;
        background-image: url("../../../assets/our-services/bgHero2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .team-doc {
        display: none;
    }
}