.contact {
    display: flex;
    padding: 100px 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    background: var(--color4, #157A8C);
}

.contacts {
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.talk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.tit-contact {
    color: var(--Ocean-Blue-200, #4CB8E7);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    line-height: 130%;
}

.ph-contact {
    color: #F7F9FC;
    text-align: justify;
    max-width: 1000px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.18px;
    margin: 0;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.number-contact {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.tit-tel {
    color: var(--Neutrals-100, #F7F9FC);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
    margin: 0;
}

.number-tel {
    color: var(--Neutrals-100, #F7F9FC);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 35.2px */
    letter-spacing: -0.22px;
    margin: 0;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.but-socials {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.mensage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card-mensage {
    display: flex;
    padding: 50px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    background: #FFF;
}

.header-mensage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.tit-mensage {
    color: var(--azul-piscina);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 46.8px */
    margin: 0;
}

.ph-mensage {
    color: #000;
    margin: 0;
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.18px;
}

.form-area {
    display: flex;
    height: 484px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.men-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.tit-area {
    color: var(--Neutrals-800, #2D3648);
    font-feature-settings: 'calt' off;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: -0.14px;
}

.text-area-men {
    height: 106px;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid var(--Neutrals-400, #CBD2E0);
    background: var(--Neutrals-White, #FFF);
    width: 417px;
}

.but-form {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    color: white;
    align-items: center;
    width: 100%;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Ocean-Blue-300, #41A8D3);
}

.but-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width:1000px) {

    .ph-contact {
        font-size: 12px;
        width: 380px;
        padding-right: 20px;
    }

    .tit-contact {
        font-size: 24px;
    }

    .tit-tel {
        font-size: 16px;
    }

    .number-tel {
        font-size: 14px;
    }

    .text-area-men {
        width: 100%;
    }

    .img-cont {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:820px) {


    .ph-contact {
        font-size: 18px;
        width: auto;
    }

    .tit-contact {
        width: 100%;
        font-size: 32px;
    }

    .tit-tel {
        font-size: 20px;
    }

    .number-tel {
        font-size: 18px;
    }

    .number-contact {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }
}