.main-admin-dashboard {
  height: 100vh;
  background-color: var(--cinza-claro);
  display: flex;
  gap: 4em;
  color: black;
}

.sidebar {
  width: 50%;
}

.admin-dashboard-content {
  padding-top: 2rem;
  width: 100%;
}

.menu-hamburger-dashboard-admin {
  display: none;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .menu-hamburger-dashboard-admin {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .main-admin-dashboard {
    gap: 0;
  }
}
