.main-admin-dashboard {
  width: 100%;
  height: 100%;
  background-color: var(--cinza-claro);
  display: flex;
  gap: 4em;
  color: black;
}

.sidebar {
  width: 30%;
}

.content {
  padding: 2em;
  width: 100%;
  height: 100%;
}