:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--cinza-claro);
  --lilás-escuro: #401258;
  --azul-claro: #d0e4e8;
  --azul-marinho: #003f69;
  --azul-padrao: #106b87;
  --azul-piscina: #157a8c;
  --cinza-claro: #f3f3f3;
  --cinza-padrao: #b3aca4;
  --cinza-escuro: #333333;
  --vermelho-vinho: #680a1d;
  --vermelho-escuro: #3f1719;
}

#root {
  width: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
