:root{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --lilás-escuro: #401258;
  --azul-claro: #D0E4E8;
  --azul-marinho: #003F69;
  --azul-padrao: #106B87;
  --azul-piscina: #157A8C;
  --cinza-claro: #f3f3f3;
  --cinza-padrao: #B3ACA4;
  --cinza-escuro: #333333;
  --vermelho-vinho: #680A1D;
  --vermelho-escuro: #3F1719;
}

#root {
  width: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
